<h2>All Transactions</h2>

<div class="panel panel-default" style="max-height:800px; overflow: auto">
  <table class="table table-hover table-condensed" id="transactionTable">
      <thead>
          <tr>
              <th>Account</th>
              <th>Date</th>
              <th>Category</th>
              <th>Comment</th>
              <th>Inflow</th>
              <th>Outflow</th>
          </tr>
      </thead>
      <tbody>
      <!-- List all transactions -->
      <% transactions.forEach(function (transaction, index) {
        var topCategory
        for (var i = 0; i < categories.length; i++) {
          var subCats = categories[i].subCategories
          for (var j = 0; j < subCats.length; j++) {
            // topCategory += typeof(subCats[j]._id) +'_'
            if (subCats[j]._id.toString() == transaction.subcategory._id) {
              topCategory = categories[i].name
            }
          }
        }
      %>
        <tr>
            <th scope="row"><%- transaction.in_account.name %></th>
            <td><%- transaction.date.toLocaleDateString() %></th>
            <td><%- topCategory %>: <%- transaction.subcategory.name %></td>
            <td><%- transaction.comment %></td>
            <td><%- transaction.inAmount %></td>
            <td><%- transaction.outAmount %></td>
        </tr>
      <% }) %>
      </tbody>
  </table>
</div>

<div class="row well well-sm" id="accountBalanceDiv">
  <!-- Calculate Account Balance -->
  <%
    var calBalance = 0
    var applyPosNegClass
    for (var i = 0; i < acctBalances.length; i++) {
      calBalance += Number(acctBalances[i].balanceIn) - Number(acctBalances[i].balanceOut)
    }
    applyPosNegClass = calBalance >= 0 ? '' : 'negativeAmount'
  %>
  <div class="col-md-9"><h3>Net Accounts Balance:</h3></div>
  <div class="col-md-3 <%- applyPosNegClass %>"><h3>$ <%- calBalance.toFixed(2) %></h3></div>
  <!-- End -->
</div>
